<%- include(`../partials/header`) %>
<h2>Signup for an account</h2>
<div class="message">
    <% if(locals.message) {%> <%= message %><% } %>
</div>
<form action="/auth/signup" method="post">
    <label for="user-name">User Name:</label>
    <input id="user-name" type="text" name="userName" required <% if (locals.userName) {%> value="<%= userName %>" <% } %> > 
    <label for="email">Email:</label>
    <input id="email" type="email" name="email" required <% if (locals.email) {%> value="<%= email %>" <% } %> >
    <label for="password">Password:</label>
    <input id="password" type="password" name="password" required>
    <label for="confirm">Confirm Password:</label>
    <input id="confirm" type="password" name="confirm" required>
    <button>Sign up</button>
</form>
<%- include(`../partials/footer`) %>