<section class="campaign-info-section TheRiseOfRedSkull <%= locals.campaign?.campaignType === `TheRiseOfRedSkull` ? `current-campaign` : `hidden` %>">
    <label>
        Delay Counters:
        <input type="number" name="delayCounters" value="">
    </label>
    <h4>Experimental Attachments:</h4>
    <fieldset class="campaign-widget checkboxes">
        <input id="laser-rifle" type="checkbox" name="experimentalAttachments" value="Laser Rifle" <% if (locals.campaign?.campaignInformation?.experimentalAttachments?.contains(`Laser Rifle`)) { %> checked <% } %>>
        <label for="laser-rifle">Laser Rifle</label>
        <input id="energy-shield" type="checkbox" name="experimentalAttachments" value="Energy Shield" <% if (locals.campaign?.campaignInformation?.experimentalAttachments?.contains(`Energy Shield`)) { %> checked <% } %>>
        <label for="energy-shield">Energy Shield</label>
        <input id="power-gaunts" type="checkbox" name="experimentalAttachments" value="Power Gauntlets" <% if (locals.campaign?.campaignInformation?.experimentalAttachments?.contains(`Power Gauntlets`)) { %> checked <% } %>>
        <label for="power-gaunts">Power Gauntlets</label>
        <input id="exo-suit" type="checkbox" name="experimentalAttachments" value="Exo-Suit" <% if (locals.campaign?.campaignInformation?.experimentalAttachments?.contains(`Exo-Suit`)) { %> checked <% } %>>
        <label for="exo-suit">Exo-Suit</label>
    </fieldset>
    <section class="player-section" id="red-skull-player-section">
        <% if (locals.campaign?.campaignInformation) { %>
            <% campaign.campaignInformation.players.forEach( (player, i) => { %>
                <fieldset class="player-widget">
                    <label class="player-element">
                        Player Name:
                        <input type="text" name="playerName" required value="<%= player.playerName %>">
                    </label>
                    <label class="hero-element">
                        Hero:
                        <input type="text" name="playerHero" required value="<%= player.identity %>">
                    </label>
                    <label class="hp-element">
                        Remaining Hitpoints:
                        <input type="number" name="remainingHitPoints" value="<%= player.remainingHitPoints %>">
                    </label>
                        Tech Card:
                        <select name="techCard">
                            <option value="Adrenal Stims" <% if (player.techCard === `Adrenal Stims`) {%> selected <% } %>>Adrenal Stims</option>
                            <option value="Tactical Scanner" <% if (player.techCard === `Tactical Scanner`) {%> selected <% } %>>Tactical Scanner</option>
                            <option value="Emergency Teleporter" <% if (player.techCard === `Emergency Teleporter`) {%> selected <% } %>>Emergency Teleporter</option>
                            <option value="Laser Cannon" <% if (player.techCard === `Laser Cannon`) {%> selected <% } %>>Laser Cannon</option>
                            <option value="" class="hidden" <% if (!player.techCard) {%> selected <% } %>></option>
                        </select>
                    </label>
                    <fieldset>
                        </label>
                            Condition Card:
                            <select name="conditionCard">
                                <option value="Thwart Upgrade" <% if (player.conditionCard?.card === `Thwart Upgrade`) {%> selected <% } %>>Thwart Upgrade</option>
                                <option value="Attack Upgrade" <% if (player.conditionCard?.card === `Attack Upgrade`) {%> selected <% } %>>Attack Upgrade</option>
                                <option value="Defence Upgrade" <% if (player.conditionCard?.card === `Defence Upgrade`) {%> selected <% } %>>Defence Upgrade</option>
                                <option value="Recovery Upgrade" <% if (player.conditionCard?.card === `Recovery Upgrade`) {%> selected <% } %>>Recovery Upgrade</option>
                                <option value="" class="hidden" <% if (!player.conditionCard) {%> selected <% } %>></option>
                            </select>
                        </label>
                        <label>
                            Basic
                            <input type="radio" value="basic" name="improvedConditionCard" <% if (!player.conditionCard?.improved) { %> checked <% } %>>
                        </label>
                        <label>
                            Improved
                            <input type="radio" value="improved" name="improvedConditionCard" <% if (player.conditionCard?.improved) { %> checked <% } %>>
                        </label>
                    </fieldset>
                    <h4>Rescued Allies:</h4>
                    <fieldset class="campaign-widget checkboxes">
                        <input id="moon-knight" type="checkbox" name="rescuedAllyCards<%= i %>" value="Moon Knight" <% if (player.rescuedAllyCards?.includes(`Moon Knight`)) { %> checked <% } %>>
                        <label for="moon-knight">Moon Knight</label>
                        <input id="shang-chi" type="checkbox" name="rescuedAllyCards<%= i %>" value="Shang-Chi" <% if (player.rescuedAllyCards?.includes(`Shang-Chi`)) { %> checked <% } %>>
                        <label for="shang-chi">Shang-Chi</label>
                        <input id="white-tiger" type="checkbox" name="rescuedAllyCards<%= i %>" value="White Tiger" <% if (player.rescuedAllyCards?.includes(`White Tiger`)) { %> checked <% } %>>
                        <label for="white-tiger">White Tiger</label>
                        <input id="elektra" type="checkbox" name="rescuedAllyCards<%= i %>" value="Elektra" <% if (player.rescuedAllyCards?.includes(`Elektra`)) { %> checked <% } %>>
                        <label for="elektra">Elektra</label>
                    </fieldset>
                    <h4>Obligations:</h4>
                    <fieldset class="campaign-widget checkboxes">
                        <input id="zolas-algo" type="checkbox" name="expertObligationCards<%= i %>" value="Zola's Algorithim" <% if (player.expertObligationCards?.includes(`Zola's Algorithim`)) { %> checked <% } %>>
                        <label for="zolas-algo">Zola's Algorithim</label>
                        <input id="med-emerg" type="checkbox" name="expertObligationCards<%= i %>" value="Medical Emergency" <% if (player.expertObligationCards?.includes(`Medical Emergency`)) { %> checked <% } %>>
                        <label for="med-emerg">Medical Emergency</label>
                        <input id="martial-law" type="checkbox" name="expertObligationCards<%= i %>" value="Martial Law" <% if (player.expertObligationCards?.includes(`Martial Law`)) { %> checked <% } %>>
                        <label for="martial-law">Martial Law</label>
                        <input id="anti-hero" type="checkbox" name="expertObligationCards<%= i %>" value="Anti-Hero Propaganda" <% if (player.expertObligationCards?.includes(`Anti-Hero Propaganda`)) { %> checked <% } %>>
                        <label for="anti-hero">Anti-Hero Propaganda</label>
                    </fieldset>                
                    <label>
                        Was this player engaged with a minion when Zola was defeated?
                        <input type="checkbox" value="true" <% if (player.wasEngaged) { %> checked <% } %>>
                    </label>
                    <button type="button" class="player-button button remove">Remove Player</button>
                </fieldset>
                <% }) %>
        <% } %>
    </section>
    <button type="button" class="player-button button add red-skull">Add a player</button>
</section>

