<%- include(`./partials/header`) %>
<h2>Recent Games</h2>
<ul>
    <% recentGames.forEach((game) => { %>
        <li>
            <a href="/games/<%= game.id %>"><%= game.gameName %></a> <%= game.owner.userName %> <%= game.createdAt %>
        </li>
    <% }) %>
</ul>
<%- include(`./partials/footer`) %>