<%- include(`./partials/header`) %>
<h2>Recent Games</h2>
<ul>
    <% recentGames.forEach((game) => { %>
        <li>
            <a href="/games/<%= game.id %>"><%= game.gameName %></a> <%= game.owner.userName %> <%= game.createdAt.toDateString() %>
            <% if (user !== null && user._id == game.owner._id) {%>
                <a class="body-link" href="/games/<%= game.id %>/edit">Update</a>
                <a class="body-link" href="/games/<%= game.id %>/delete">Delete</a>
            <% } %>
        </li>
    <% }) %>
</ul>
<%- include(`./partials/footer`) %>