<%- include(`./partials/header`) %>
<p class="intro-text">Welcome to Marvel Champions Game Logger: a resource for tracking the results of your Marvel: Champions games.</p>
<h2>Recently Logged Games</h2>
<table>
    <% if (recentGames.length > 0) { %>
        <tr>
            <th>Game Name</th> <th>Author</th> <th>Date Published</th>
        </tr>
        <% recentGames.forEach((game) => { %>
            <tr>
                <td><a class="game-link" href="/games/<%= game._id %>"><%= game.gameName %></a></td> <td><%= game.owner.userName %></td> <td><%= game.createdAt.toDateString() %></td>
            <% if (user !== null && user._id == game.owner._id) {%>
                <td class ="button-cell">
                    <form class="table-form" action="/games/<%= game._id %>/edit">
                        <button>Edit</button>
                    </form>
                    <button class="button delete <%= game._id %>" type="button">Delete<span class="hidden"><%= game.gameName %></span></button>
                </td>
            <% } %>
        </tr>
    <% }) %>
<% } %>
</table>
<%- include(`./partials/delete`) %>
<%- include(`./partials/footer`) %>