<%- include(`../partials/header`) %>
<h2>Update <%= game.gameName %></h2>
<form action="/games/<%= game._id %>?_method=put" method="post">
    <label>
        Game Name:
        <input type="text" name="gameName" required value="<%= game.gameName %>">
    </label>
    <label>
        Date Played:
        <input type="date" name="datePlayed" required value="<%= game.formattedDate %>">
    </label>
    <label>
        Scenario:
        <input type="text" name="scenario" required value="<%= game.scenario %>">
    </label>
    <section class="player-section">
        <button type="button" class="add-player">Add a player</button>
        <% game.players.forEach( (player) => { %>
            <label>
                Player Name:
                <input type="text" name="playerName" required value="<%= player.playerName %>">
            </label>
            <label>
                Hero:
                <input type="text" name="playerHero" required value="<%= player.identity %>">
            </label>
        <% }) %>
</section>
    <label>
        The players:
        <select name="wonGame">
            <option value="true" <% if (game.wonGame) { %> selected <% } %>>Won</option>
            <option value="false" <% if (!game.wonGame) { %> selected <% } %>>Lost</option>
        </select>
    </label>
    <label>
        Notes:
        <textarea type="" name="notes"><%= game.notes %></textarea>
    </label>
    <button>Update Game Log</button>
</form>
<div class="hidden counter"><%= game.players.length %></div>
<%- include(`../partials/footer`) %>