<%- include(`../partials/header`) %>
<h2>All Games</h2>
<ul>
    <% games.forEach((game) => { %>
        <li>
            <a href="/games/<%= game.id %>"><%= game.gameName %></a> <%= game.owner.userName %> <%= game.createdAt %>
            <% if (user !== null && user._id == game.owner._id) {%>
                <a href="/games/<%= game.id %>/edit">Update</a>
                <a href="/games/<%= game.id %>/delete">Delete</a>
            <% } %>
        </li>
    <% }) %>
</ul>
<%- include(`../partials/footer`) %>

<!-- TODO Create a way to paginate this to 10 games per page with links to move from one page to the next -->