<%- include(`../partials/header`) %>
<h2>All Games</h2>
<table>
    <% if (games.length > 0) { %>
        <tr>
            <th>Game Name</th> <th>Author</th> <th>Date Published</th>
        </tr>
        <% games.forEach((game) => { %>
            <tr>
                <td><a class="body-link" href="/games/<%= game.id %>"><%= game.gameName %></a></td> <td><%= game.owner.userName %></td> <td><%= game.createdAt.toDateString() %></td>
            <% if (user !== null && user._id == game.owner._id) {%>
                <td class ="button-cell">
                    <form class="table-form" action="/games/<%= game._id %>/edit">
                        <button>Edit</button>
                    </form>
                    <form class="table-form" action="/games/<%= game._id %>/delete">
                        <button>Delete</button>
                    </form>
                </td>
            <% } %>
        </tr>
    <% }) %>
<% } %>
</table>
<section class="pagination">
    <% if (page > 1 && pages > 1) { %>
        <a href="/games?page=<%= Number(page) - 1 %>">&#8592;</a>
    <% } %>
    <% let i = 0 %>
    <% while (i < pages) { %>
        <a href="/games?page=<%= i + 1 %>"><%= i + 1 %></a>
        <% i++ %>
    <% } %>
    <% if (Number(page) !== pages && pages > 1) { %>
        <a href="/games?page=<%= Number(page) + 1 %>">&#8594;</a>
    <% } %>    
</section>
<%- include(`../partials/footer`) %>