<%- include(`../partials/header`) %>
<h2>All Games</h2>
<table>
    <% if (games.length > 0) { %>
        <tr>
            <th><a href="/games?sorting=gameName&order=<%= order %>">Name</a></th> <th><a href="/games?sorting=owner&order=<%= order %>">Author</a></th> <th><a href="/games?sorting=datePlayed&order=<%= order %>">Date Played</a></th> <th><a href="/games?sorting=createdAt&order=<%= order %>">Date Published</a></th>
        </tr>
        <% games.forEach((game) => { %>
            <tr>
                <td><a class="game-link" href="/games/<%= game.id %>"><%= game.gameName %></a></td> <td><%= game.owner.userName %></td> <td><%= game.datePlayed.toDateString() %></td> <td><%= game.createdAt.toDateString() %></td>
            <% if (user !== null && user._id == game.owner._id) {%>
                <td class ="button-cell">
                    <form class="table-form" action="/games/<%= game._id %>/edit">
                        <button>Edit</button>
                    </form>
                    <form class="table-form" action="/games/<%= game._id %>/delete">
                        <button>Delete</button>
                    </form>
                </td>
            <% } %>
        </tr>
    <% }) %>
<% } %>
</table>
<section class="pagination">
    <% if (currentPage > 1 && totalPages > 1) { %>
        <a href="/games?page=<%= Number(currentPage) - 1 %>">&#8592;</a>
    <% } %>
    <% let i = 0 %>
    <% while (i < totalPages) { %>
        <a href="/games?page=<%= i + 1 %>"><%= i + 1 %></a>
        <% i++ %>
    <% } %>
    <% if (Number(currentPage) !== totalPages && totalPages > 1) { %>
        <a href="/games?page=<%= Number(currentPage) + 1 %>">&#8594;</a>
    <% } %>    
</section>
<%- include(`../partials/footer`) %>