<%- include(`../partials/header`) %>
<h2>Create a new game log</h2>
<div class="message">
    <% if(locals.message) {%> <%= message %><% } %>
</div>
<form action="/games" method="post">
    <label for="game-name">Game Name:</label>
    <input id="game-name" type="text" name="gameName" required <% if (locals.game) { %> value="<%= game.gameName %>" <% } %>>
    <label for="date-played">Date Played:</label>
    <input id="date-played" type="date" name="datePlayed" required <% if (locals.game) { %> value="<%= game.datePlayed %>" <% } %>>
    <label for="scenario">Scenario:</label>
    <input id="scenario" type="text" name="scenario" required <% if (locals.game) { %> value="<%= game.scenario %>" <% } %>>
    <section class="player-section">
        <% if (locals.game) { %>
            <% game.players.forEach( (player, i) => { %>
                <fieldset class="player-widget player<%= i %>">
                    <label class="player-element">
                        Player Name:
                        <input type="text" name="playerName" required value="<%= player.playerName %>">
                    </label>
                    <label class="hero-element">
                        Hero:
                        <input type="text" name="playerHero" required value="<%= player.identity %>">
                    </label>
                    <button type="button" class="player-button button remove">Remove Player</button>
                </fieldset>
                <% }) %>
        <% } %>
        <!-- FIXME - Player Name/ID Front End Validation is failing -->
    </section>
    <!-- TODO - Add logic that offers a campaign to attach and removes the player section if a campaign is attached. -->
    <button type="button" class="player-button button add">Add a player</button>
    <label for="won-game">The players:</label>
        <select id="won-game" name="wonGame">
            <option value="true" <% if (locals.game && game.wonGame) { %> selected <% } %>>Won</option>
            <option value="false" <% if (!locals.game || !game.wonGame) { %> selected <% } %>>Lost</option>
        </select>
    <label for="notes">Notes:</label>
    <textarea id="notes" type="" name="notes" rows="6" cols="40"><% if (locals.game) { %><%=game.notes%><% } %></textarea>
    <button>Log Game</button>
</form>
<%- include(`../partials/footer`) %>