<%- include(`../partials/header`) %>
<h2><%= game.gameName %></h2>
<section class="game-show-section">
    <p><span>Date played:</span> <%= game.datePlayed.toDateString() %></p>
    <% if (game.campaign) { %>
        <h3>Players:</h3>
        <%- include(`../campaigns/partials/${game.campaign.campaignType}/show-player`) %>
    <% } else { %>
        <% game.players.forEach( (player) => { %>
            <p>Player Name: <%= player.playerName %> Hero: <%= player.identity %></p>
        <% }) %>
    <% } %>
    <p><span>Scenario:</span> <%= game.scenario %></p>
    <p><span>Outcome:</span> The players <%= game.wonGame ? `won` : `lost` %> this game.</p>
    <h3>Notes:</h3>
    <p><%= game.notes %></p>
    <% if (user !== null && user._id == game.owner._id) {%>
        <section class="button-section">
            <form class="button edit" action="/games/<%= game._id %>/edit">
                <button>Edit</button>
            </form>
            <button class="button delete <%= game._id %>" type="button">Delete<span class="hidden"><%= game.gameName %></span></button>
        </section>
<% } %>
</section>
<%- include(`../partials/modal`) %>
<%- include(`../partials/footer`) %>