<%- include(`../partials/header`) %>
<h2><%= game.gameName %></h2>
<p>
    Date played: <%= game.datePlayed.toDateString() %>
    Players:
    <% game.players.forEach( (player) => { %>
        Player Name: <%= player.playerName %>
        Hero: <%= player.identity %>
    <% }) %>
    Scenario: <%= game.scenario %>
    The players <%= game.wonGame ? `won` : `lost` %> this game.
    Notes: <%= game.notes %>
</p>
<% if (user !== null && user._id == game.owner._id) {%>
    <a class="body-link" href="/games/<%= game.id %>/edit">Update</a>
    <a class="body-link" href="/games/<%= game.id %>/delete">Delete</a>
<% } %>
<%- include(`../partials/footer`) %>