<section class="campaign-info-section SinisterMotives <%= locals.campaign?.campaignType === `SinisterMotives` ? `current-campaign` : `hidden` %>">
    <label>
        Current Reputation
        <input type="number" name="currentReputation">
    </label>
    <h4>Osborn Tech:</h4>
    <fieldset class="campaign-widget checkboxes">
        <input id="arm-cannon" type="checkbox" name="osbornTechCards" value="Arm Cannon" <% if (locals.campaign?.campaignInformation?.osbornTechCards?.includes(`Arm Cannon`)) { %> checked <% } %>>
        <label for="arm-cannon">Arm Cannon</label>
        <input id="ion-boots" type="checkbox" name="osbornTechCards" value="Ionic Boots" <% if (locals.campaign?.campaignInformation?.osbornTechCards?.includes(`Ionic Boots`)) { %> checked <% } %>>
        <label for="ion-boots">Ionic Boots</label>
        <input id="kin-armor" type="checkbox" name="osbornTechCards" value="Kinetic Armor" <% if (locals.campaign?.campaignInformation?.osbornTechCards?.includes(`Kinetic Armor`)) { %> checked <% } %>>
        <label for="kin-armor">Kinetic Armor</label>
        <input id="neo-scales" type="checkbox" name="osbornTechCards" value="Neocarbon Scales" <% if (locals.campaign?.campaignInformation?.osbornTechCards?.includes(`Neocarbon Scales`)) { %> checked <% } %>>
        <label for="neo-scales">Neocarbon Scales</label>
        <input id="spiked" type="checkbox" name="osbornTechCards" value="Spiked Gauntlet" <% if (locals.campaign?.campaignInformation?.osbornTechCards?.includes(`Spiked Gauntlet`)) { %> checked <% } %>>
        <label for="spiked">Spiked Gauntlet</label>
        <input id="tracking" type="checkbox" name="osbornTechCards" value="Tracking Display" <% if (locals.campaign?.campaignInformation?.osbornTechCards?.includes(`Tracking Display`)) { %> checked <% } %>>
        <label for="tracking">Tracking Display</label>
    </fieldset>
    <h4>Community Service:</h4>
    <fieldset class="campaign-widget checkboxes">
        <input id="burglary" type="checkbox" name="completedCommunityServices" value="Back Alley Burglary"  <% if (locals.campaign?.campaignInformation?.completedCommunityServices?.includes(`Back Alley Burglary`)) { %> checked <% } %>>
        <label for="burglary">Back Alley Burglary</label>
        <input id="ciat" type="checkbox" name="completedCommunityServices" value="Cat in a Tree"  <% if (locals.campaign?.campaignInformation?.completedCommunityServices?.includes(`Cat in a Tree`)) { %> checked <% } %>>
        <label for="ciat">Cat in a Tree</label>
        <input id="heist" type="checkbox" name="completedCommunityServices" value="Henchmen Heist"  <% if (locals.campaign?.campaignInformation?.completedCommunityServices?.includes(`Henchmen Heist`)) { %> checked <% } %>>
        <label for="heist">Henchmen Heist</label>
        <input id="rails" type="checkbox" name="completedCommunityServices" value="Off the Rails"  <% if (locals.campaign?.campaignInformation?.completedCommunityServices?.includes(`Off the Rails`)) { %> checked <% } %>>
        <label for="rails">Off the Rails</label>
        <input id="rubble" type="checkbox" name="completedCommunityServices" value="Rubble Rescue"  <% if (locals.campaign?.campaignInformation?.completedCommunityServices?.includes(`Rubble Rescue`)) { %> checked <% } %>>
        <label for="rubble">Rubble Rescue</label>
    </fieldset>
    <label>
        Waking Nightmares:
        <input type="number" name="wakingNightmares"  <% if (locals.campaign?.campaignInformation?.wakingNightmares) { %> value="<%= locals.campaign?.campaignInformation?.wakingNightmares %>" <% } %>>
    </label>
    <h4>Last Ones Standing:</h4>
    <fieldset class="campaign-widget checkboxes">
        <input id="doc-oc" type="checkbox" name="lastOnesStanding" value="Doctor Octopus"  <% if (locals.campaign?.campaignInformation?.lastOnesStanding?.includes(`Doctor Octopus`)) { %> checked <% } %>>
        <label for="doc-oc">Doctor Octopus</label>
        <input id="electro" type="checkbox" name="lastOnesStanding" value="Electro"  <% if (locals.campaign?.campaignInformation?.lastOnesStanding?.includes(`Electro`)) { %> checked <% } %>>
        <label for="electro">Electro</label>
        <input id="hobgob" type="checkbox" name="lastOnesStanding" value="Hobgoblin"  <% if (locals.campaign?.campaignInformation?.lastOnesStanding?.includes(`Hobgoblin`)) { %> checked <% } %>>
        <label for="hobgob">Hobgoblin</label>
        <input id="kraven" type="checkbox" name="lastOnesStanding" value="Kraven the Hunter"  <% if (locals.campaign?.campaignInformation?.lastOnesStanding?.includes(`Kraven the Hunter`)) { %> checked <% } %>>
        <label for="kraven">Kraven the Hunter</label>
        <input id="scorpion" type="checkbox" name="lastOnesStanding" value="Scorpion"  <% if (locals.campaign?.campaignInformation?.lastOnesStanding?.includes(`Scropion`)) { %> checked <% } %>>
        <label for="scorpion">Scorpion</label>
        <input id="vulture" type="checkbox" name="lastOnesStanding" value="Vulture"  <% if (locals.campaign?.campaignInformation?.lastOnesStanding?.includes(`Vulture`)) { %> checked <% } %>> 
        <label for="vulture">Vulture</label>
    </fieldset>
    <section class="player-section" id="sin-mot-player-section">
        <% if (locals.campaign?.campaignInformation) { %>
            <% campaign.campaignInformation.players.forEach( (player, i) => { %>
                <fieldset class="player-widget">
                    <label class="player-element">
                        Player Name:
                        <input type="text" name="playerName" required value="<%= player.playerName %>">
                    </label>
                    <label class="hero-element">
                        Hero:
                        <input type="text" name="playerHero" required value="<%= player.identity %>">
                    </label>
                    <label class="hp-element">
                        Remaining Hitpoints:
                        <input type="number" name="remainingHitPoints" value="<%= player.remainingHitPoints %>">
                    </label>
                    <label class="shield-tech-element">
                        Shield Tech Card:
                        <select name="shieldTechCard">
                            <option value="Compact Darts" <% if (player.shieldTechCard === `Compact Darts`) {%> selected <% } %>>Compact Darts</option>
                            <option value="Impact-Dampening Suit" <% if (player.shieldTechCard === `Impact-Dampening Suit`) {%> selected <% } %>>Impact-Dampening Suit</option>
                            <option value="Laser Goggles" <% if (player.shieldTechCard === `Laser Goggles`) {%> selected <% } %>>Laser Goggles</option>
                            <option value="Propulsion Gauntlet" <% if (player.shieldTechCard === `Propulsion Gauntlet`) {%> selected <% } %>>Propulsion Gauntlet</option>
                            <option value="Retinal Display" <% if (player.shieldTechCard === `Retinal Display`) {%> selected <% } %>>Retinal Display</option>
                            <option value="Shock Knuckles" <% if (player.shieldTechCard === `Shock Knuckles`) {%> selected <% } %>>Shock Knuckles</option>
                            <option value="Wave Bracers" <% if (player.shieldTechCard === `Wave Bracers`) {%> selected <% } %>>Wave Bracers</option>
                            <option value="Wrist-Navigator" <% if (player.shieldTechCard === `Wrist-Navigator`) {%> selected <% } %>>Wrist-Navigator</option>
                            <option value="" class="hidden" <% if (!player.shieldTechCard) {%> selected <% } %>></option>
                        </select>
                    </label>
                    <label class="aspect-adv-element">
                        Aspect Advantage Card:
                        <input type="text" name="aspectAdvantageCard" <% if (player.aspectAdvantageCard) { %> value="<%= player.aspectAdvantageCard %>" <% } %>>
                    </label>
                    <label class="plan-ahead-element">
                        Planning Ahead Card:
                        <input type="text" name="planningAheadCard" <% if(player.planningAheadCard) { %> value="<%= player.planningAheadCard %>" <% } %>>
                    </label>
                    <button type="button" class="player-button button remove">Remove Player</button>
                </fieldset>
                <% }) %>
        <% } %>
    </section>
    <button type="button" class="player-button button add sin-mot">Add a player</button>
</section>
